body {
  background-color: #1D1E22;
}



.Profile-bgc {
  background-color: #FEDA6A;
}
.Projects-bgc {
  background-color: #FEDA6A;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  margin: auto ;
  margin-top: -10px;
  margin-bottom: 0px;
  color: #fff;
  background-color: #1D1E22;
}

.NavContainer {
  width: 500px;
  display: flex;
  justify-content: space-around;
}